[user]
  name = Vinícius Cristofari Barbosa
  email = viniciusnypbarbosa@outlook.com
[includeIf "gitdir:**/speedchain/"]
    path = .gitconfig_speedchain
[color]
  ui = auto
[alias]
  aliases = !git config --get-regexp alias | sed -re 's/alias\\.(\\S*)\\s(.*)$/\\1 = \\2/g'
  ci = commit
  cim = commit -m
  co = checkout
  sw = switch
  st = status
  lg = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
  a = add
  au = add -u
  ap = add -p
  append = commit --amend --no-edit
  push-with-lease = push --force-with-lease
  rebase-with-hooks = rebase -x 'git reset --soft HEAD~1 && git commit -C HEAD@{1}'
  review-local = "!git lg @{push}.."
  reword = commit --amend
  uncommit = reset --soft HEAD~1
  untrack = rm --cache --
  swm="!f() { git switch master 2>/dev/null || git switch main; }; f"
  skip = update-index --skip-worktree
  unskip = update-index --no-skip-worktree
[core]
  pager = cat
  excludesfile = ~/.gitignore_global
  editor = code --wait
  whitespace = -trailing-space
	autocrlf = false
[diff]
  mnemonicPrefix = true
  renames = true
  wordRegex = .
  submodule = log
  tool = vscode
  algorithm = histogram
  colorMoved = default
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[fetch]
  recurseSubmodules = on-demand
  fsckobjects = true
[grep]
  break = true
  heading = true
  lineNumber = true
  extendedRegexp = true
[log]
  abbrevCommit = true
  date = iso
[status]
  submoduleSummary = true
  showUntrackedFiles = all
[color "branch"]
  upstream = cyan
[tag]
  sort = version:refname
[pull]
  rebase = true
[push]
  autoSetupRemote = true
  default = current
[merge]
  conflictstyle = zdiff3
[init]
  defaultBranch = main
[commit]
  verbose = true
[help]
  autocorrect = 10
[transfer]
  fsckobjects = true
[receive]
  fsckObjects = true
[branch]
  sort = -committerdate
[gpg]
  format = ssh
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
